<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<p class="navbar-brand">Kingdom Death Monster Manager</p>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li><a href="#/monster-selection" target="_blank">Monster Selection</a></li>
				<li><a href="#/hunt-phase" target="_blank">Hunt Phase</a></li>
				<li><a href="#/showdown-phase" target="_blank">Showdown Phase</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/reset" target="_blank">Reset</a></li>
			</ul>

		</div>
	</div>
</div>

<div ui-view name=main>

</div>

