<div class='showdown-card-board'>
	<div class='hit-location-region'>
		<div  style='width:218mm' default-value='Starter Cards' card-facing='front' deck-name='starterDeck'
			 class='card-area card-receptacle card-area-renderer'>
			<div>
				<div></div>
			</div>
		</div>
		<div default-value='Archived<BR>Cards' card-facing='front' deck-name='archiveDeck'
			 class='deck card-receptacle card-slot ai-deck deck-renderer card-deck'>
			<div>
				<div>
					<img src="{{view.monster.getMonsterCardFrontPath()}}" class="light-box">
					<img src="{{view.monster.getMonsterCardBackPath()}}" class="light-box">
				</div>
			</div>
		</div>
	</div>
	<div class='play-area-region'>
		<div style='width:218mm' default-value='In Play Area' card-facing='front' deck-name='playAreaDeck'
			 class='card-area card-receptacle card-area-renderer'>
			<div>
				<div></div>
			</div>
		</div>
		<div ng-if="view.monster.life == null" default-value='Wound<BR>Deck' card-facing='back' deck-name='woundDeck'
			 class='deck card-receptacle card-slot ai-deck deck-renderer card-deck'>
			<div>
				<div></div>
			</div>
		</div>

		<div ng-if="view.monster.life != null" class='deck card-slot life-pool'>
			<div>
				<div>
					<img src="/images/Life Trait.png" class="light-box">
						<div  ng-click="view.increment('life',1)" class='increment'></div>
						<div class='life-total'>{{(view.monster.life < 10) ? '0'+view.monster.life : view.monster.life}}</div>
						<div ng-click="view.increment('life',-1)" class='decrement'></div>
				</div>
			</div>
		</div>

	</div>


	<div class='ai-region'>
		<div default-value='AI<BR>Deck' card-facing='back' deck-name='aiDeck'
			 class='deck card-receptacle card-slot ai-deck deck-renderer card-deck'>
			<div>
				<div>AI<BR>Deck</div>
			</div>
		</div>
		<div default-value='Discard<BR>Pile' card-facing='front' deck-name='aiDiscardDeck'
			 class='deck card-deck card-receptacle card-slot deck-renderer'>
			<div>
				<div>Discard<BR>Pile</div>
			</div>
		</div>
		<div default-value='Mood/Trait' card-facing='front' deck-name='moodDeck'
			 class='card-area card-receptacle card-area-renderer'>
			<div>
				<div></div>
			</div>
		</div>
		<div default-value='Resource<BR>Deck' card-facing='back' deck-name='resourceDeck'
			 class='deck card-receptacle card-slot ai-deck deck-renderer card-deck'>
			<div>
				<div></div>
			</div>
		</div>
	</div>


	<div class='hit-location-region'>
		<div default-value='Hit<BR>Location<BR>Deck' card-facing='back' deck-name='hitLocationDeck'
			 class='deck card-receptacle card-slot deck-renderer card-deck'>
			<div>
				<div>
					Hit<BR>Location<BR>Deck
				</div>
			</div>
		</div>
		<div default-value='Discard<BR>Pile' card-facing='front' deck-name='hitLocationDiscardDeck'
			 class='deck card-deck card-receptacle card-slot deck-renderer'>
			<div>
				<div>
					Discard<BR>Pile
				</div>
			</div>
		</div>
		<div default-value='Persistent<BR>Injuries' card-facing='front' deck-name='persistentInjuryDeck'
			 class='card-area card-receptacle card-area-renderer'>
			<div>
				<div>
					Persistent<BR>Injuries
				</div>
			</div>
		</div>
		<div default-value='Drawn<BR>Resource' card-facing='front' deck-name='drawnResourceDeck'
			 class='deck card-receptacle card-slot ai-deck deck-renderer card-deck'>
			<div>
				<div></div>
			</div>
		</div>
	</div>
</div>
<div class='counter-display'>

	<div class='counter-band' ng-repeat="attribute in view.attributes">
		<div data-toggle="tooltip" title="{{ attribute.capitalize(); }}" stat="{{attribute}}"
			 class='token-container toggle-token-class'>
			<div class='token {{attribute}}-token'></div>
			<div class='counter-container'>
				<div ng-click="view.increment(attribute,1)" class='increment'></div>
				<div class='counter'>{{ view.monster[attribute] }}</div>
				<div ng-click="view.increment(attribute,-1)" class='decrement'></div>
			</div>
		</div>
	</div>
</div>